In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_con = pd.read_csv('performances-con-rejilla.csv')
data_con['treatment'] = 'Feedback'
print(data_con.shape)
data_con.head()

(1000, 8)

,group,round,player,choice,attendance,score,ac_score,treatment
0,Grupo-0001,1,405186428721292,0,1,0,25,Feedback
1,Grupo-0001,1,728608683559397,1,1,1,25,Feedback
2,Grupo-0001,2,405186428721292,1,1,1,25,Feedback
3,Grupo-0001,2,728608683559397,0,1,0,25,Feedback
4,Grupo-0001,3,405186428721292,0,1,0,25,Feedback

In [3]:
data_sin = pd.read_csv('performances-sin-rejilla.csv')
data_sin['treatment'] = 'No feedback'
print(data_sin.shape)
data_sin.head()

(1300, 8)

,group,round,player,choice,attendance,score,ac_score,treatment
0,Grupo-0011,1,408405179210547,1,1,1,9,No feedback
1,Grupo-0011,1,826599327153195,0,1,0,3,No feedback
2,Grupo-0011,2,408405179210547,0,0,0,9,No feedback
3,Grupo-0011,2,826599327153195,0,0,0,3,No feedback
4,Grupo-0011,3,826599327153195,1,2,-1,3,No feedback

In [4]:
data_simu = pd.read_csv('simulations.csv')
data_simu['ac_score'] = data_simu.groupby(['id', 'Agente'])['Puntaje'].transform('sum')
data_simu['attendance'] = data_simu.groupby(['id', 'Ronda'])['Estado'].transform('sum')
data_simu['treatment'] = 'Random (p=0.5)'
data_simu.columns = ['indice','round','player','choice',
                     'score','group','ac_score','attendance','treatment']
data_simu = data_simu[['group','round','player','choice','attendance','score','ac_score','treatment']]
print(data_simu.shape)
data_simu.head()

(686, 8)

   group  round  player  choice  attendance  score  ac_score       treatment
0      0      0       0       1           2     -1        -1  Random (p=0.5)
1      0      1       0       0           0      0        -1  Random (p=0.5)
2      0      2       0       1           2     -1        -1  Random (p=0.5)
3      0      3       0       1           2     -1        -1  Random (p=0.5)
4      0      4       0       1           1      1        -1  Random (p=0.5)

In [5]:
data = pd.concat([data_con, data_sin, data_simu])
data.shape

(2986, 8)